@media only screen and (max-width: 688px) {
  .row {
    flex-direction: column-reverse;
  }
  .hero .row .half-width {
    width: 90%;
    text-align: center;
  } 
  .hero h1{
    font-size: 32px;
    margin-top: 20px;
} 
.hero img{
    width: 95%;
    display: block;
    margin: auto;
}
 
.collections{
    grid-template-columns: 1fr;

} 
.review-row{
  flex-direction: column;
} 
.review{
  margin-top: 20px;
}
} 





/* tablet device  */

@media only screen and (min-device-width : 688px) and (max-device-width : 961px) { 
  
  .collections{
    grid-template-columns: 1fr  1fr;
    

}
}