@media only screen and (max-width: 768px) {
  .row {
    flex-direction: column-reverse;
  }
  .hero .row .half-width {
    width: 90%;
    text-align: center;
  } 
  .hero h1{
    font-size: 32px;
    margin-top: 20px;
} 
.hero img{
    width: 95%;
    display: block;
    margin: auto;
}
 
.collections{
    grid-template-columns: 1fr;

}
} 


@media only screen and (min-width: 768px) {
 .collections{
    grid-template-columns: 1fr 1fr;
    

}
@media only screen and (min-width: 1025px) {
 .collections{
    grid-template-columns: 1fr 1fr 1fr;
    

}
}
