@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200&display=swap');

:root {
  --main: #E02C6D;
  --white: #ffffff;
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;
font-weight: 800; 
width: 100%;
min-height: 100vh; 
position: relative;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 90%;
} 
header{
  padding-top: 50px;
}
header h2{
  font-size: 20px;
  font-weight: 900;
}
/* ========================
    Hero section
=========================== */
.hero {
  padding: 100px 0 50px;
}
.hero-container {
  padding: 0 5%;
}
.hero .row {
  display: flex;
  align-items: center;
}
.hero .row .half-width {
  width: 50%;
}
.animate-left {
  animation-name: animate-left;
  animation-duration: 2s;
  animation-delay: 0.5s;
}
.animate-right {
  animation-name: animate-right;
  animation-duration: 2s;
  animation-delay: 0.5s;
}


.hero .image-container {
  background: url(images/Circle\ design.svg);
  background-size: 90% 95%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}
.hero h1 {
  font-size: 52px; 
  margin-bottom: 10px;
}
.hero .hero-btn {
  background-color: var(--main);
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  margin-top: 15px;
  border-radius: 25px;
}
.hero img {
  width: 80%;
  display: block;
  margin: auto;
}

/* ========================
        Brand section
=========================== */
.brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row-gap: 30px;
  align-items: center;
  place-items: center;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* ========================
        Popular products section
=========================== */
.collection {
  margin-: bottom 100px;
  padding-top: 80px;
}
.collection .section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}
.collections {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 20rem));
  grid-gap: 30px;
  justify-content: center;
}
.single-collection {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 10px;
}
.single-collection h2 {
  color: #18191f;
  margin: 15px 0 10px;
  font-size: 28px;
}
.single-collection h3 {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.87);
  margin: 10px 0;
}
.single-collection p {
  line-height: 20px;
  font-size: 14px;
  color: #787885;
}
.single-collection .fa {
  color: #fb8200;
}
.single-collection span {
  margin-left: 20px;
}
.single-collection img {
  width: 100%;
  border-radius: 10px;
}
.see-btn {
  display: flex;
  justify-content: flex-end;
  margin: 40px 0;
}
.see-btn a {
  text-align: center;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: var(--main);
}




/* testimonial section */


.testimonial{
  min-height: 50vh;
  background-color: #F6F8FC;
  padding: 70px 0;

}
.testimonial .container{
  text-align: center;
} 
.testimonial .container >h2{
  color: var(--main);
  text-transform: uppercase;
  margin-bottom: 30px;
} 
.testimonial .container h1{
  font-size: 30px;
  color: #444; 
  margin-bottom: 30px;
} 
.testimonial .container> p{
  color: gray;
} 
.review-row{
  display: flex; 
  justify-content: space-around;
}
.review{
  border-radius: 10px; 
  flex-basis: 30%;
  background-color: #fff;
  padding: 30px; 
} 
 .img-box{
   background-color: #fff4f2;
   padding: 20px;
   border-radius: 2px;
}
.testimonial .review img{
   width: 50px;
} 
.testimonial .review .author{
  color: #787885;
  margin: 10px 0;
}
.testimonial .review i{
  color: #F4C436;
} 
.text{
  padding: 0 100px;
  margin-bottom: 50px;
}
/* footer part */

footer {
  background-color: #0a0826;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
footer .icons {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
footer .icons a {
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  margin-right: 5px;
  background-color: rgba(204, 186, 186, 0.19);
  border-radius: 50%;
  padding-top: 8px;
}



.anim{

  animation-name: rotation ;
  animation-duration: 10s;
  animation-iteration-count: 3;
  animation-direction: alternate;
}
/* animations */

@keyframes animate-left {
  0% {
    opacity: 0;
    transform: translateX(-9rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes animate-right {
  0% {
    opacity: 0;
    transform: translateX(9rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes rotation {
  0% { transform: rotate(2deg); }
  /* 50% { transform: rotate(3deg); } */
  100% { transform: rotate(-10deg); }
}
