*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FFFFFF;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 90%;
    
    
    
}



/* ========================
    Hero section
=========================== */ 
.hero{
padding: 100px 0 50px;
} 
.hero-container{
    padding: 0 5%;

} 
.hero .row{
    display: flex;
    align-items: center;
 
} 
.hero .row .half-width{
    width: 50%;
    
} 

.hero .image-container{
    background: url(images/Circle\ design.svg);
    background-size: 90% 95%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}
.hero h1{
    font-size: 52px;
} 
.hero .hero-btn{
    background-color: indianred;
    display: inline-block;
    text-decoration: none;
    padding: 7px 15px;
    color: #fff;
    margin-top: 15px;
    border-radius: 25px;
}
.hero img{
    width: 80%;
    display: block;
    margin: auto;
    
} 


/* ========================
        Brand section
=========================== */ 
.brands{
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-row-gap: 30px;
  align-items: center;
  place-items: center;

} 
/* ========================
        Popular products section
=========================== */ 
.collection{
    margin-:bottom 100px;
    padding-top: 80px;
} 
.collections{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-gap: 30px;
}
.single-collection{
 
 display: flex;
 flex-direction: column;
 padding: 10px;
 box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
 border-radius: 10px;
} 
.single-collection img{
    width: 100%;
}